@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h5>Welcome to the most amazing webstore in the internet</h5>
    <hr style="height: 1px; background-color: #D65DB1;"/>
    <p>Do you see a product you want to buy but are not a registered client?<a  asp-area="" asp-controller="Singular" asp-action="Create"> Register here</a></p>
    <p>If you're a client and are already registered, you can login<a asp-area="" asp-controller="Home" asp-action="LoginSingular"> here</a></p>
    <p>If you're a supplier and are already registered, you can login <a  asp-area="" asp-controller="Home" asp-action="LoginCompany">here</a></p>
    <p>If you are a company with amazing produts to sell and want to join us please contact the administrator admin@email.com</p>
</div>
