@{
    ViewData["Title"] = "Our privacy Policy";
}
<div class="text-center ">
    <h5>@ViewData["Title"]</h5>
    <hr />
    <h6>What information do we collect?</h6>
    <p>
        We will collect your information for delivery porpuses only.
    </p>
    <h6>Who can access your information?</h6>
    <p>Only the suppliers of products you buy, yourself and the system administrator have access to your data.</p>
    <p>We WILL NOT sell your data to mean web pirates, or even to nice web pirates.</p>
    <p>No web pirates.</p>
    <p>Your data is safe.</p>
    <h6>Contacts</h6>
    <p>If you need any further information about the security of this portal or want to report something please contact the admin: admin@email.com</p>
</div>
